
body {
  box-sizing: border-box;
}


.navbar{
  background-color: rgb(16, 15, 15);
}


.cover{
  background-color: rgb(50, 50, 50);
  height: 15rem;
}

.profile{
  background-color: rgb(172, 172, 172);
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
}

.content{
    width: 100vh;
    height: 70vh;
    background: linear-gradient(
      to right,
      grey 0%,
      grey 10%,
      rgb(221, 218, 218) 10%,
      rgb(221, 218, 218) 100%
    );
}

